<div *ngIf="league">
  <img src="{{ league.logo }}" alt=" {{league.name}}">
</div>

<div class="star">

</div>

<div *ngIf="teams">
  <table class="team-table">
    <tr *ngFor="let team of teams">
      <td>{{ team.position }} - {{ team.name }}</td>
      <td>
        <img src="{{ team.logo }}" alt="{{ team.name }}" class="team-logo">
      </td>
    </tr>
  </table>
</div>


<div *ngIf="teams">
  <div class="teams" *ngFor="let team of teams">
    <button>
      <img src="{{ team.logo }}" alt=" {{team.name}}">
    </button>
  </div>
</div>
