.teams {
  display: inline-block;
}

.teams > button {
  background: none;
  border: none;
}

.teams > button > img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.teams button > img {
  width: 10em;
  height: 10em;
  aspect-ratio: 16/9;
}

.team-table {
  border-collapse: collapse;
  float: left; /* Esto permite que otros elementos floten a la derecha */
  border: 1px solid #ddd; /* Añade un borde a la tabla */
}

.team-cell {
  display: flex;
  justify-content: space-between; /* Esto alinea el texto a la izquierda y el logo a la derecha */
  align-items: center; /* Esto centra verticalmente el contenido de la celda */
  padding: 8px;
  border: 1px solid #ddd; /* Añade un borde a cada celda */
  color: white; /* Cambia el color del texto a blanco */
  background-color: #000; /* Fondo negro para las celdas */
}

.team-info {
  flex-grow: 1; /* Esto permite que el contenedor del texto ocupe todo el espacio disponible */
}

.team-logo {
  flex-shrink: 0; /* Esto evita que el logo se reduzca */
  width: 50px;
  height: auto;
  margin-left: 10px; /* Ajusta este valor según sea necesario */
}

.team-table tr {
  border-bottom: 1px solid #ddd; /* Añade un borde en la parte inferior de cada fila */
}

.team-name, .team-info { /* Asegúrate de que esta clase se aplique donde corresponde */
  color: white; /* Cambia el color del texto a blanco */
}

.league-logo-container {
  text-align: center; /* Centra el contenido del div */
  margin: 20px 0; /* Añade un margen superior e inferior */
}

.league-title {
  color: white; /* Establece el color del texto a blanco */
  font-size: 3em; /* Ajusta el tamaño del texto */
  margin-bottom: 10px; /* Añade un espacio entre el título y el logo */
}

.league-logo {
  width: 350px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantiene la proporción del logo */
}

