.title2 {
  color: var(--white-color);
  margin-bottom: 0.75em;
  font-size: 4em;
  text-align: center;
}

.forms {
  text-align: center;
  width: 300px;
  margin: auto;
}

.forms > p {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}

input[type=text], input[type=email], input[type=password], input[type=submit] {
  color: var(--white-color);
  border: 1px solid var(--white-color);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

input[type=text], input[type=email], input[type=password] {
  width: calc(100% - 22px);
}

.forms > p > button {
  color: var(--white-color);
  background-color: var(--main-color);
  border: 1px solid var(--white-color);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

input[type=submit] {
  background-color: var(--main-color);
  width: 100%;
  margin-top: 10px;
}

.forms > p > input[type="password"] {
  width: calc(100% - 80px);
}

.forms > p > button#toggleButton {
  position: absolute;
  right: 10px;
  top: 5px;
  height: 38px;
  padding: 10px 15px;
  margin: 0;
}

/* Estilos para mensajes de error */
.error {
  color: var(--white-color); /* Cambiado a color blanco */
  margin-top: 5px;
}

@media (max-width: 1440px) {
  .title2 {
    font-size: 3.5em;
    margin-bottom: 0.5em;
  }

  .forms {
    width: 80%;
    max-width: 500px;
  }

  input[type=text], input[type=email], input[type=password] {
    width: calc(100% - 20px);
  }

  .forms > p > input[type="password"] {
    width: calc(100% - 70px);
  }

  .forms > p > button#toggleButton {
    right: 15px;
    padding: 10px 10px;
  }
}

@media (max-width: 360px) {
  .forms {
    width: 100%;
    padding: 0 20px;
  }

  .title2 {
    font-size: 2em;
  }

  input[type=text], input[type=email], input[type=password] {
    width: calc(100% - 22px);
  }

  .forms > p > input[type="password"] {
    width: calc(100% - 90px);
  }

  .forms > p > button#toggleButton {
    right: 20px;
  }
}
