/* Estilos para la imagen de perfil y el botón de subir imagen */
.edit-profile {
  text-align: center;
}

.edit-profile > img {
  max-height: 30em;
  width: auto;
  max-width: 100%;
}

.edit-profile > .upload-image > button {
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 1em;
  margin-top: 2em;
}

/* Estilos para los subtítulos */
.subtitle {
  color: var(--white-color); /* Aplica el color blanco a los subtítulos */
  text-align: center;
}

/* Estilos para el formulario del lado derecho */
.forms {
  text-align: center;
  width: 300px;
  margin: auto;
}

.forms > p {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}

/* Estilos para los campos de entrada */
input[type=text], input[type=email], input[type=password] {
  color: var(--white-color);
  background-color: var(--buttons-bg-color);
  border: 1px solid var(--main-color);
  padding: 10px;
  margin: 5px;
  border-radius: 0.75em;
  width: calc(100% - 22px);
}

/* Estilos para el botón de actualizar */
.forms > p > input[type=submit] {
  color: var(--white-color);
  background-color: var(--main-color);
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.75em;
  cursor: pointer;
  width: 100%;
}

/* Media queries para ajustes responsivos */
@media (max-width: 1440px){
  /* Ajustes para tabletas y mayores */
  .divider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .side-left, .side-right {
    width: 50%;
  }

  .edit-profile > img {
    max-height: 20em;
  }

  .subtitle {
    font-size: 1.5em;
  }

  .edit-profile, .side-right {
    margin-bottom: 2em;
  }

  .edit-profile > .upload-image > button {
    padding: 15px;
    font-size: 1.2em;
  }
}

@media (max-width: 360px) {
  /* Ajustes para dispositivos móviles */
  .divider-container {
    flex-direction: column;
  }

  .side-left, .side-right {
    width: 100%;
  }

  .edit-profile, .side-right {
    margin-bottom: 1em;
  }

  .edit-profile > img {
    max-height: 10em;
  }

  .subtitle {
    font-size: 1.2em;
  }
}
