:root {
  --bg-color: #474e52;
  --main-color: #0f0;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #00000080;
  --gray2-color: #000000F0;
  --forest-green-color: #00ff0080;
}

body {
  background-color: var(--bg-color);
  margin-top: 2em;
}

